body, h1, h2, h3, button {
	font-family: 'Lato', sans-serif;
}

nav a, h1, .cta, button, button:hover  {
	color: #fff;
}

body {
	width: 100%;
	font-size: 18px;
	color: #3D4854;
}

header {
	height: 535px;
	background: linear-gradient(
    rgba(221, 221, 221, 0.35), 
    rgba(0, 0, 0, 0.8)
    ),
		url('../images/hdr_ftr.jpg');
	background-color: #ccc;
	background-position: 100% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: -box;
	background-clip: padding-box;
}

.logo {
	margin-top: 25px;
	color: #fff;
}

.logo img {
	width: 150px;
	height: 78px;
}

nav {
	padding-top: 40px;
	padding-left: 720px;
}

nav a, nav a:hover, nav a:visited {
	display: inline-block;
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	padding: 6px 25px;
	color: #fff;
}

.signUp {
	border: 1.75px solid #FABA50;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cta {
	text-align: center;
	margin-top: 165px;
}

h1 {
	line-height: 54px;
	font-weight: bold;
}

.cta p {
	font-size: 22px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 40px;
	text-align: center;
	width: 600px;
	padding: 0 10px 0 195px;
}

.signUpNow, .signUpNow:hover {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	width: 200px;
	height: 40px;
	background: #FBA410;
	border: 1.5px solid #F7C777;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container {
	text-align: center;
}

.about {
	margin-top: 55px;
}

h2 {
	color: #35587F;
	margin-bottom: 15px;
}

.about p {
	line-height: 26px;
	padding: 0 100px 0 134px;
}

.about h3 {
	color: #FCB742;
	font-weight: 700;
	font-style: italic;;
}

.appView {
	width: 750px;
	height: 300px;
	background-color: #35587F;
	margin: 40px 0 75px 0;
}

hr {
	width: 50%;
	margin-left: 25%;
}

.features div{
	display: inline-block;
	width: 28%;
	margin: 60px 0 65px 0;
}

.features div h3{
	color: #35587F;
	line-height: 29px;
	font-weight: 400;
	margin: 30px 0 25px 0;
}

.features svg {
	width: 125px;
	height: 125px;
}

.features p {
	line-height: 23px;
}

.testimonial svg {
	width: 49px;
	height: 33px;
	color: #35587F;
	opacity: 0.7;
	margin: 5px 0 30px 0;
}

.quote {
	font-style: italic;
	font-weight: 400;
	font-size: 26px;
	line-height: 32px;
}

p.author {
	font-weight: 300;
	font-style: normal;
}

.tag {
	height: 210px;
	background-color: #35587F;
	text-align: center;
	margin-top: 75px;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-weight: 700;
}

.tag p {
	padding: 60px 0 10px 0;
}

footer {
	height: 100%;
	background-color: #2F3842;
	color: #D5D8D8;
}

.nav-footer {
	margin-left: 5%;
	padding: 20px 0 12px 0;
}

.nav-footer a, .nav-footer a:hover, .nav-footer a:visited {
	color: #D5D8D8;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	padding: 0 3px 0 3px;
}

.copy {
	margin-left: 5%;
	opacity: 0.5;
	font-size: 13px;
	font-weight: 400px;
	padding-bottom: 15px;
	clear: left;
}

.social {
	float: right;
	margin-right: 5%;
	position: relative;
	bottom: 30px;
}

.social svg {
	padding: 0 5px 0 5px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	nav {
		padding-left: 550px;
	}

	.cta p {
		padding: 0 0 0 155px;
		margin-bottom: 25px;
	}

	.about p {
		padding: 0 75px 0 100px;
	}
}

 @media only screen and (max-width: 767px) {

 	nav {
 		padding: 0;
 	}

 	nav a {
 		margin: 30px 5px;
 	}

 	.logo img {
 		padding-top: 10px;
 	}

 	.cta p {
 		padding: 0 0 30px 0;
 		width: 100%;
 	}

 	.about p {
 		padding: 0 0 20px 0;
 	}

 	.quote {
 		margin-top: 25px;
 	}

 	h2 {
 		margin-top: 35px;
 	}

 	.write, .collab, .pub, .quote {
 		padding: 25px 0;
 	}

 	.nav-footer, .copy {
 		margin-left: 1%;
 	}

 	.copy {
 		font-size: 75%;
 	}

 	.nav-footer a {
 		font-size: 70%;
 	}

 	.social {
 		margin-right: 1%;
 	}

